.completed {
    text-decoration: line-through;
}

.tasksList:empty {
    margin: 0;
    margin-bottom: 10px;
}

.titleSection.active ~ .tasksList {
    max-height: 0;
    transition: max-height .3s;
    overflow: hidden;
}

.titleSection {
    display: flex;
    i {
        position: relative;
        display: block;
        width: 24px;
        height: 24px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 16px;
    }

    small {
        line-height: 1;
        font-size: 0.75rem;
        display: flex;
        align-items: flex-end;
        padding-bottom: 3px;
        font-weight: 700;
        right: 20px;
        position: absolute;
        bottom: 3px;
    }
}

.titleSection.general {
    i {
        background-image: url('data:image/svg+xml;svg,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-calendar"><path d="M8 2v4"/><path d="M16 2v4"/><rect width="18" height="18" x="3" y="4" rx="2"/><path d="M3 10h18"/></svg>');
    }
}

.titleSection.morning {
    i {
        background-image: url('data:image/svg+xml;svg,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-sun"><circle cx="12" cy="12" r="4"/><path d="M12 2v2"/><path d="M12 20v2"/><path d="m4.93 4.93 1.41 1.41"/><path d="m17.66 17.66 1.41 1.41"/><path d="M2 12h2"/><path d="M20 12h2"/><path d="m6.34 17.66-1.41 1.41"/><path d="m19.07 4.93-1.41 1.41"/></svg>');
    }
}

.titleSection.afternoon {
    i {
        background-image: url('data:image/svg+xml;svg,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-cloud"><path d="M17.5 19H9a7 7 0 1 1 6.71-9h1.79a4.5 4.5 0 1 1 0 9Z"/></svg>');
    }
}

.titleSection.night {
    i {
        background-image: url('data:image/svg+xml;svg,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-moon"><path d="M12 3a6 6 0 0 0 9 9 9 9 0 1 1-9-9Z"/></svg>');
    }
}

.tasksList {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    overflow-x: hidden;
    max-height: 500px;
    transition: max-height .5s ease-in;
    transform: translate(0) !important;

    .task {
        display: flex;
        flex-direction: row;
        width: 100%;
        position: relative;
        z-index: 1;
        transition: all .5s;
        margin-bottom: 3px;
    }

    li {
        position: relative;
        display: inline-flex;
        align-items: center;
        list-style: none;
        padding: 5px 0px;
        margin: 0;
        cursor: pointer;
        width: 100%;
        
        box-sizing: border-box;
        transition: all .5s;
        transform: translate(0) !important;

        @media screen and (min-width: 480px) {
            &:hover {
                .checkbox:not(.nt) {
                    i {
                        background-color: #ee2737;
                        background-image: url('data:image/svg+xml;svg,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="rgb(255, 255, 255)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-check"><path d="M20 6 9 17l-5-5"/></svg>');
                        background-repeat: no-repeat;
                        background-position: center;
                        background-size: 70%;
                        border-color: #ee2737;
                        opacity: 0.5;
                    }
                }
            }
        }
        .checkbox {
            margin-right: 10px;
            transform: translate(0) !important;

            i {
                width: 20px;
                height: 20px;
                display: block;
                border: 1px solid #333;
                border-radius: 20px;
                box-sizing: border-box;
            }
            &.checked {
                i {
                    background-image: url('data:image/svg+xml;svg,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="rgb(255, 255, 255)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-check"><path d="M20 6 9 17l-5-5"/></svg>');
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: 70%;
                    background-color: #ee2737;
                    border-color: #ee2737;
                }
            }
        }

        p {
            margin: 0;
            padding: 0;
            text-align: left;
            user-select: none;
            -webkit-user-drag: none;
            transform: translateX(0px) !important;
            &::first-letter {
                text-transform: uppercase;
                user-select: none;
                -webkit-user-drag: none;
            }
        }
    }

    .remove {
        cursor: pointer;
        position: absolute;     
        text-align: left;
        color: #FFFFFF;
        display: flex;
        align-items: center;
        justify-content: center;
        right: -100px;
        background-color: #ee2737;
        width: 100px;
        height: 100%;
        padding: 0 10px;
        box-sizing: border-box;
        font-size: 0.85rem;
        font-weight: 300;
        transition: all .5s;

        &.active {
            right: 0;
        }
    }

}

.new-taskButton {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color: #ee2737;
    border: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: pointer;
    position: absolute;
    bottom: 20px;
    right: 10px;
    i {
        width: 50px;
        height: 50px;
        display: block;
        background-image: url('data:image/svg+xml;svg,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-circle-fading-plus"><path d="M12 2a10 10 0 0 1 7.38 16.75"/><path d="M12 8v8"/><path d="M16 12H8"/><path d="M2.5 8.875a10 10 0 0 0-.5 3"/><path d="M2.83 16a10 10 0 0 0 2.43 3.4"/><path d="M4.636 5.235a10 10 0 0 1 .891-.857"/><path d="M8.644 21.42a10 10 0 0 0 7.631-.38"/></svg>');
        background-repeat: no-repeat;
        background-position: center;
    }
}

.new-task {
    width: 100%;
    i {
        width: 20px;
        height: 20px;
        background-color: #333;
        border-radius: 20px;
        margin-right: 10px;
        display: block;
        background-image: url('data:image/svg+xml;svg,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="rgb(255, 255, 255)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-plus"><path d="M5 12h14"/><path d="M12 5v14"/></svg>');
        background-repeat: no-repeat;
        background-size: 80%;
        background-position: center;
  
    }
    &:hover {
        p {
            font-weight: bold;
        }
    }

    p {
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        -o-transition: all .3s;
        transition: all .3s;
        width: 100%;
    }
}

.new-task-input {
    width: 100%;
    padding: 0;
    margin: 0;
    font-size: 1rem;
    color: #333;
    background: transparent;
    border: none;
    line-height: 1.5;
    box-sizing: border-box;
    border-bottom: 1px solid transparent;
    border-radius: 0;
    outline: none;
    &:focus {
        outline: none;
        border-bottom: 1px solid #333;
        box-sizing: border-box;
    }
}

li.new-task-display {
    display: none;
    width: 100%;
}

.points {
    margin-bottom: 15px;

    p {
        margin: 0;
        font-weight: 700;
        text-transform: uppercase;
        font-size: 0.75rem;
    }
    i {
        position: absolute;
        display: block;
        width: 16px;
        height: 16px;
        left: 5px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;
        background-image: url('data:image/svg+xml;svg,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="rgb(0 255 234)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-flame"><path d="M8.5 14.5A2.5 2.5 0 0 0 11 12c0-1.38-.5-2-1-3-1.072-2.143-.224-4.054 2-6 .5 2.5 2 4.9 4 6.5 2 1.6 3 3.5 3 5.5a7 7 0 1 1-14 0c0-1.153.433-2.294 1-3a2.5 2.5 0 0 0 2.5 2.5z"/></svg>');
        mix-blend-mode: difference;
        z-index: 1;
    }
    
    span {
        font-size: 0.75rem;
        font-weight: 700;
        letter-spacing: 1px;
        color: #00ffea;
        mix-blend-mode: difference;
        margin: 0 auto;
        left: 0;
        right: 0;
        padding: 0;
        position: absolute;
        z-index: 1;
        
    }
    .progress {
        width: 100%;
        height: 20px;
        border-radius: 20px;
        border: 1px solid #333;
        box-sizing: border-box;
        display: flex;
        position: relative;
        overflow: hidden;
        .progress-bar {
            height: 100%;
            box-sizing: border-box;
            border-radius: 20px;
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
            background-color: #ee2737;
            transform: translateX(0px) !important;
            transition: all .5s;
        }
        
        .complete {
            background: linear-gradient(-90deg, #ee2737, #b52b37, #b52b37, #b52b37, #ee2737);
            background-color: #ee2737;
            background-size: 600% 600%;
            animation: gradient 5s ease infinite;
        }
    }
}

@keyframes gradient {
	0% {
        background-position: 100% 150%;
	}
    50% {
        background-position: 100% 50%;
    }
	100% {
        background-position: 0% 0%;
	}
}