nav {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 50px;
  padding: 10px 15px;
  img {
    height: 100%;
  }
}

.helpBtn {
  cursor: pointer;
  position: absolute;
  right: 0;
  padding: 0;
  background-color: transparent;
  border-radius: 24px;
  overflow: hidden;
  i {
    display: flex;
    position: relative;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 24px;
    width: 24px;
    height: 24px;
    background-image: url('data:image/svg+xml;svg,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-circle-help"><circle cx="12" cy="12" r="10"/><path d="M9.09 9a3 3 0 0 1 5.83 1c0 2-3 3-3 3"/><path d="M12 17h.01"/></svg>');
  }
}

.helpContainer {
  display: flex;
  background-color: #FFFFFF;
  border-radius: 8px;
  position: absolute;
  z-index: 999;
  width: calc(100% - 20px);
  height: max-content;
  min-height: 60vh;
  max-height: 90vh;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: 20px auto;
  box-shadow: 0px 10px 10px -10px rgba(0, 0, 0, 0.2);
  overflow: auto;
  padding: 0px 10px 10px;
  flex-direction: column;
  place-content: flex-start;
  box-sizing: border-box;

  h2 {
    display: flex;
    place-items: center;
    place-content: center;

    i {
      display: flex;
      position: relative;
      background-repeat: no-repeat;
      background-position: bottom;
      background-size: 24px;
      width: 24px;
      height: 24px;
      margin-right: 5px;
      background-image: url('data:image/svg+xml;svg,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-circle-help"><circle cx="12" cy="12" r="10"/><path d="M9.09 9a3 3 0 0 1 5.83 1c0 2-3 3-3 3"/><path d="M12 17h.01"/></svg>');
    }
  }

  h3 {
    display: flex;
    place-items: center;
    font-size: 1.1rem;
    margin: 0;
    small {
      font-size: 0.75rem;
      margin-right: 5px;
    }
  }

  p {
    font-size: 0.95rem;
    margin-top: 0;
    text-align: justify;
    line-height: 1.2rem;
  }

  .close {
    cursor: pointer;
    background-color: #ee2737;
    padding: 5px 15px;
    border-radius: 5px;
    color: #FFFFFF;
    font-weight: 500;
    text-transform: lowercase;
    position: relative;
    width: 100%;
    bottom: 0;
    box-sizing: border-box;
  }
}

.importExport {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 3px;
  margin-top: 25px;
  margin-bottom: 15px;

  .message {
    width: 100%;
    text-align: center;
  }

  h4 {
    width: 100%;
    margin: 0;
  }

  input {
    width: calc(100% - 43px);
    border-radius: 5px;
    height: 30px;
    padding: 3px 5px;
    box-sizing: border-box;
    border: 1px solid #333;
  }

  .copyBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    padding: 0;
    box-sizing: border-box;
    background-color: #ee2737;
    border: none;
    i {
      display: flex;
      position: relative;
      background-repeat: no-repeat;
      background-position: bottom;
      background-size: 100%;
      width: 20px;
      height: 20px;
      background-image: url('data:image/svg+xml;svg,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-clipboard-copy"><rect width="8" height="4" x="8" y="2" rx="1" ry="1"/><path d="M8 4H6a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2v-2"/><path d="M16 4h2a2 2 0 0 1 2 2v4"/><path d="M21 14H11"/><path d="m15 10-4 4 4 4"/></svg>');
    }
  }

  button {
    width: calc(50% - 1.5px);
    background-color: #FFFFFF;
    color: #333;
    border: 1px solid #333;
  }
}

.dark-theme {
  @media (prefers-color-scheme: dark) {
    .helpBtn {
      i {
        background-image: url('data:image/svg+xml;svg,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="rgb(255, 255, 255)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-circle-help"><circle cx="12" cy="12" r="10"/><path d="M9.09 9a3 3 0 0 1 5.83 1c0 2-3 3-3 3"/><path d="M12 17h.01"/></svg>');
      }
    }

    .helpContainer {
      background-color: var(--background-color);
      box-shadow: 0px 10px 10px -10px var(--border-color);
      border: 1px solid var(--text-color-dark);
      color: var(--text-color);
    
      h2 {
        i {
          background-image: url('data:image/svg+xml;svg,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="rgb(255, 255, 255)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-circle-help"><circle cx="12" cy="12" r="10"/><path d="M9.09 9a3 3 0 0 1 5.83 1c0 2-3 3-3 3"/><path d="M12 17h.01"/></svg>');
        }
      }
    }
  }
}