#root {
  max-width: 480px;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

* {
  box-sizing: border-box;
}

.mainContainer {
  position: relative;
}

.scroll {
  overflow: hidden;
}